@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-aboutUs {
    .c-aboutUs__title {
        font-size: 36px;
        font-weight: 900;
        color: #4a4a4a;
        margin-top: 60px;
        margin-bottom: 40px;
        text-align: center;
        @media(max-width:768px) {
            font-size: 25px;
        }
    }

    .c-aboutUs__desc {
        margin-bottom: 40px;
        .c-aboutUs__desc--title {
            font-size: 24px;
            font-weight: bold;
            color: #3a3a3a;
            text-align: center;
            margin-bottom: 30px;
            padding: 0px 80px;
            @media(max-width:768px) {
                font-size: 20px;
                padding: 0px 5px;
            }
        }

        .c-aboutUs__desc--text{
            width: 687px;
            margin: 0 auto;
            font-size: 18px;
            color: #3a3a3a;
            margin-bottom: 15px;
            @media(max-width:768px) {
                font-size: 17px;
                padding: 0px 10px;
                width: 100%;
            }
        }
    }
}