@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-casino-review {
    .c-casino-review__title {
        font-size: 36px;
        font-weight: 900;
        text-align: center;
        color: #4a4a4a;
        margin-bottom: 30px;
        @media(max-width:768px) {
            text-align: center;
            margin-top: 20px;
        }
    }

    .c-hotel-list {
        margin: 20px 0px 0px 0px;
        .c-hotel-list__table {
            .c-hotel-list__table--body {

            }
        }
    }

    .c-casino-review__desc {
        padding: 45px 30px;
        border: solid 1px #e8e8e8;
        background-color: $white;
        border-top: none !important;
        margin-top: -7px;
        

        .c-casino-review__desc--title {
            font-size: 20px;
            font-weight: bold;
            color: $black;
            margin-bottom: 15px;
        }

        .c-casino-review__desc--item {
            color: #212121;
            font-size: 16px;
            margin-bottom: 45px;
            font-weight: 300;
        }
        
        .c-casino-review__desc--button {
            text-align: center;
            a {
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                color: $white;
                background-color: #3b5998;
                padding: 11px 30px;
                margin-right: 15px;
                margin-top: 10px;
                margin-bottom: 13px;
                display: inline-block;
            }
        }
    }   
}