@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-casinoGames {
    .c-casinoGames__links {
        margin-bottom: 50px;
        @media(max-width:768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }

        a {
            display: inline-block;
            color: #6d6d6d;
            text-align: center;
            padding: 8px 20px;
            @media(max-width:768px) {
                padding: 8px 15px;
            }
            &:hover {
                span {
                    color: #3b5998;
                }
            }

            img {
                display: block;
                margin: 0 auto;
            }

            span {
                font-size: 15px;
                font-weight: 500;
                color: #6d6d6d;
                display: inline-block;
                margin-top: 11px;
            }
        }
    }
}