@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 195px;
    @media(max-width:768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
    }

    .c-contacts__support {
        width: 45%;
        padding-top: 30px;
        @media(max-width:768px) {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }

        .c-contacts__support--title {
            font-size: 27px;
            font-weight: 900;
            color: #4a4a4a;
            margin-bottom: 12px;
            @media(max-width:420px) {
                font-size: 20px;
            }
        }

        .c-contacts__support--textBig {
            color: #3a3a3a;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 50px;
            @media(max-width:420px) {
                font-size: 17px;
                margin-bottom: 15px;
            }
        }

        .c-contacts__support--textSmall {
            font-size: 19px;
            font-weight: 500;
            margin-bottom: 6px;
            color: #3a3a3a;
            @media(max-width:420px) {
                font-size: 17px;
                font-weight: bold;
            }
        }

        .c-contacts__support--mail {
            span {
                img {
                    width: 15px;
                    height: 12px;
                    margin-right: 9px;
                    vertical-align: unset;
                }
            }

            a {
                font-size: 15px;
                font-weight: 500;
                color: #6c6c6c;
                display: inline-block;
                @media(max-width:420px) {
                    font-size: 15px;
                }
            }
        }
    }

    .c-contacts__form {
        width: 49%;
        @media(max-width:768px) {
            width: 100%;
            text-align: center;
        }
        form {
            label {
                width: 49%;
                position: relative;
                margin-bottom: 15px;
                @media(max-width:1200px) {
                    width: 100%;
                }
                
                input {
                    height: 46px;
                    border: solid 1px #dedede;
                    font-size: 16px;
                    width: 100%;
                    padding-left: 45px;
                    padding-right: 5px; 
                    color: $black;
                    font-weight: 500;
                    &::placeholder {
                        color: #9fa3a7;
                    }

                }

                img {
                    position: absolute;
                    top: 16px;
                    left: 17px;

                }
            }

            .email {
                margin-left: 6px;
                @media(max-width:1200px) {
                    margin-left: 0px;
                }
            }

            textarea {
                width: 100%;
                border: solid 1px #dedede;
                color: $black;
                height: 180px;
                padding: 15px; 
                font-size: 16px;
                margin-bottom: 45px;
                &::placeholder {
                    color: #9fa3a7;
                }
            }

            button {
                background-color: #3b5998;
                width: 160px;
                height: 46px;
                font-size: 16px;
                color: $white;
                font-weight: bold;
                text-transform: uppercase;
            }
        }  
    }
}