@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-error {
    text-align: center;
    .c-error__logo {
        display: block;
        margin: 60px auto;
    }

    .c-error__image {
        margin-bottom: 105px;
        @media(max-width:420px) {
            width: 150px;
            height: 100px;
        }
    }

    .c-error__textBig {
        font-size: 32px;
        font-weight: bold;
        color: #4a4a4a;
        margin-bottom: 36px;
    }

    .c-error__textSmall {
        font-size: 23px;
        color: #4a4a4a;
        margin-bottom: 62px;
    }

    .c-error__button {
        background-color: #3b5998;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        font-size: 20px;
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        padding: 13px 34px;
    }
}