// Global styles.

/*
    nested classes allowed only 2 levels.
    camel case class names.
*/

// js- { prefixed classes are javascript hooks }
// c- { prefixed classes are components }
// m- { prefixed classes are module }
// u- { prefixed classes are utility }
@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

body {
    width: 100%;
    font-family: 'Univers LT Std';
    font-style: normal;
    font-weight: normal;
    background-color: $bg-body;
}

.container {
    @media(max-width:768px) {
        padding: 0px 15px !important;
    }
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
    padding:0;
}

input, textarea, button {
    border: none;
    &:focus {
        outline: none;
    }
}

.c-header {
    padding: 20px 0px; 
    margin-bottom: 50px;
    background-color: $white;
    @media(max-width:768px) {
        margin-bottom: 0px;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .c-header__nav {
            .mobileButton {
                display: none;
                @media(max-width:768px) {
                    display: block;
                }
            }

            ul {
                display: flex;
                align-items: center;
                @media(max-width:768px) {
                    display: none;
                }

                li {
                    a {
                        text-transform: uppercase;
                        color:  #4a4a4a;
                        font-size: 13px;
                        font-weight: bold;
                        margin-left: 45px;
                        &:hover {
                            color: #3b5998;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.c-footer {
    margin-top: 90px;
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: solid 1px #989898;
        padding: 18px 0px;
        @media(max-width:768px) {
            flex-direction: column-reverse;
        }

        .c-footer__logo {
            span{
                font-size: 14px;
                color: #989898;
                display: inline-block;
                margin-left: 10px;
            }
        }
        
        .c-footer__nav {
            ul {
                display: flex;
                align-items: center;
                @media(max-width:768px) {
                    flex-direction: column;
                }

                li {
                    a {
                        color: #989898;
                        font-size: 15px;
                        margin-left: 20px;
                        @media(max-width:768px) {
                            margin-left: 0px;
                            margin-bottom: 25px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

.c-hotel-list {
    margin: 20px 0px 45px 0px;
    position: relative;

    .editor {
        position: absolute;
        top: 71px;
        left: -5px;
        @media(max-width:768px) {
            top: 5px;
        }

        span {
            position: absolute;
            top: 1px;
            color: $white;
            display: inline-block;
            width: 115px;
            left: 16px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .c-hotel-list__table {
        border-radius: 2px;
        background-color: $white;
        border: solid 1px #e8e8e8;
        display: inline-block;
        @media(max-width:768px) {
            background-color: #f5f5f5;
            border: none;
        }

        .c-hotel-list__table--head {
            @media(max-width:768px) {
                display: none;
            }

            tr {
                th {
                    font-size: 15px;
                    font-weight: bold;
                    color: #4a4a4a;
                    text-align: center;
                    padding: 23px 0px 21px 0px;
                }
            }
        }

        .c-hotel-list__table--body {
            .table-item {
                border-top: solid 1px #e9e9e9;
                @media(max-width:768px) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                    margin-bottom: 15px;
                    background-color: $white;
                    border: solid 1px #e8e8e8;
                    padding: 15px 10px 10px 10px;
                }
                td {
                    padding: 20px 0px;
                    @media(max-width:768px) {
                        width: 100% !important;
                        padding: 10px 0px;
                    }
                    
                }
             
                .hotel-logo {
                    width: 19%;
                    padding-left: 30px;
                    @media(max-width:768px) {
                        text-align: center;
                        padding: 0px; 
                    }
                }

                .hotel-desc {
                    width: 30%;
                    text-align: center;
                    p {
                        font-size: 17px;
                        color: #4a4a4a;
                        font-weight: normal;
                        @media(max-width:768px) {
                            padding: 0px 100px;
                        }
                        @media(max-width:560px) {
                            padding: 0px 0px;
                        }
                    }
                }

                .hotel-rating {
                    width: 15%;
                    text-align: center;
                    @media(max-width:768px) {
                        width: 50% !important;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }

                    .read-review {
                        font-size: 13px;
                        color: #4a4a4a;
                        font-weight: bold;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .our-score {
                    width: 15%;
                    text-align: center;
                    @media(max-width:768px) {
                        width: 50% !important;
                    }

                    span {
                        font-size: 48px;
                        color: #888888;
                        font-weight: 500;
                        display: inline-block;
                        letter-spacing: -1.9px;
                    }
                }

                .visit-button {
                    width: 22%;
                    text-align: right;
                    @media(max-width:768px) {
                       text-align: center;
                    }

                    a {
                        font-size: 20px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $white;
                        background-color: #3b5998;
                        padding: 11px 27px;
                        margin-right: 15px;
                        margin-top: 10px;
                        margin-bottom: 13px;
                        display: inline-block;
                        @media(max-width:1200px) {
                            padding: 11px 15px;
                            font-size: 13px;
                        }
                        @media(max-width:768px) {
                            padding: 11px 27px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

.c-mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 999;
    overflow-x: scroll;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.21);

    .c-mobileMenu__item {
        position: relative;
        .c-mobileMenu__item--header {
            padding: 13px 0px 12px 15px;
            border-bottom: solid 1px #e9e9e9;
            margin-bottom: 121px;
        }

        .c-mobileMenu__item--nav {
            padding-left: 15px; 
            margin-bottom: 170px;
            ul {
                li {
                    margin-bottom: 30px;
                    a {
                        color: #3b5998;
                        font-size: 21px;
                        font-weight: 500;
                        color: $black;
                    }
                }
            }
        }

        .c-mobileMenu__item--footer {
            padding: 24px 0px 22px 15px;
            border-top: solid 1px #e9e9e9;
            a {
                font-size: 14px;
                font-weight: 500;
                color: #9d9c9c;
            }
        }

        .c-mobileMenu__item--close {
            position: absolute;
            top: 0;
            right: 0;
            width: 52px;
            height: 100%;
            background-color: #707070;
            padding: 20px 0px 0px 12px;
        }
    }
}

@keyframes animate-open {
    0% {left:-100%;}
    100% {left:0;}
}

@keyframes animate-close {
    0% {left:0;}
    100% {left:-100%;}
}

.open-menu {
    display: block;  
    animation-name: animate-open;
    animation-duration: 0.4s;
}

.close-menu {
    animation-name: animate-close;
    animation-duration: 0.4s;
}