@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-casino-content {
    .casino-content__paragraf {
        .casino-content__paragraf--title {
            font-size: 26px;
            color: #3a3a3a;
            font-weight: bold;
            margin-bottom: 15px;
            @media(max-width:768px) {
                text-align: center;
                margin-top: 20px;
            }
        }

        .casino-content__paragraf--text {
            font-size: 15px;
            color: #3a3a3a;
            @media(max-width:768px) {
                display: none;
            }
        }
    }
}