@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-hotel-reviews {
    .c-hotel-reviews__paragraf {

        .c-hotel-reviews__paragraf--title {
            font-size: 26px;
            color: #3a3a3a;
            font-weight: 500;
            margin-bottom: 15px;
            @media(max-width:768px) {
                text-align: center;
                margin-top: 20px;
            }
        }

        .c-hotel-reviews__paragraf--text {
            font-size: 15px;
            color: #3a3a3a;
            @media(max-width:768px) {
                display: none;
            }
        }
    }

    .c-hotel-list__table {
        .c-hotel-list__table--body {
            .table-item {
                .hotel-desc {
                    p {
                        text-align: left;
                        font-size: 15px;
                        @media(max-width:768px) {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}