@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-BoldExObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-BoldExObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-ThinUltraCn.woff2') format('woff2'),
        url('../fonts/UniversLTStd-ThinUltraCn.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-LightCnObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-LightCnObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-LightObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-LightObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-CnObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-CnObl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-XBlackExObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-XBlackExObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-BlackExObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-BlackExObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-Cn.woff2') format('woff2'),
        url('../fonts/UniversLTStd-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-Black.woff2') format('woff2'),
        url('../fonts/UniversLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-Light.woff2') format('woff2'),
        url('../fonts/UniversLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-UltraCn.woff2') format('woff2'),
        url('../fonts/UniversLTStd-UltraCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'Univers LT Std';
//     src: url('../fonts/UniversLTStd-BlackEx.woff2') format('woff2'),
//         url('../fonts/UniversLTStd-BlackEx.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
// }

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-ExObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-ExObl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-Obl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-Obl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd.woff2') format('woff2'),
        url('../fonts/UniversLTStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'Univers LT Std';
//     src: url('../fonts/UniversLTStd-LightUltraCn.woff2') format('woff2'),
//         url('../fonts/UniversLTStd-LightUltraCn.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Univers LT Std';
//     src: url('../fonts/UniversLTStd-BoldObl.woff2') format('woff2'),
//         url('../fonts/UniversLTStd-BoldObl.woff') format('woff');
//     font-weight: bold;
//     font-style: italic;
// }

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-Bold.woff2') format('woff2'),
        url('../fonts/UniversLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// @font-face {
//     font-family: 'Univers LT Std';
//     src: url('../fonts/UniversLTStd-BoldEx.woff2') format('woff2'),
//         url('../fonts/UniversLTStd-BoldEx.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Univers LT Std';
//     src: url('../fonts/UniversLTStd-LightCn.woff2') format('woff2'),
//         url('../fonts/UniversLTStd-LightCn.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Univers LT Std';
//     src: url('../fonts/UniversLTStd-XBlack.woff2') format('woff2'),
//         url('../fonts/UniversLTStd-XBlack.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Univers LT Std';
//     src: url('../fonts/UniversLTStd-XBlackEx.woff2') format('woff2'),
//         url('../fonts/UniversLTStd-XBlackEx.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
// }

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-BoldCnObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-BoldCnObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-BlackObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-BlackObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

// @font-face {
//     font-family: 'Univers LT Std';
//     src: url('../fonts/UniversLTStd-BoldCn.woff2') format('woff2'),
//         url('../fonts/UniversLTStd-BoldCn.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Univers LT Std';
//     src: url('../fonts/UniversLTStd-Ex.woff2') format('woff2'),
//         url('../fonts/UniversLTStd-Ex.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Univers LT Std';
//     src: url('../fonts/UniversLTStd-XBlackObl.woff2') format('woff2'),
//         url('../fonts/UniversLTStd-XBlackObl.woff') format('woff');
//     font-weight: 900;
//     font-style: italic;
// }

