// [[ Bootstrap defaults.
$icon-font-path: '../fonts/';
$grid-gutter-width: 0;
$container-large-desktop: 1040px;
// ]] Bootstrap defaults

$white:  #fff;
$black: #000000;
$bg-body: #f5f5f5;
$button-bg: #3b5998;

